<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>베스킨라빈스</title>
    <!-- <link rel="stylesheet" href="./css/style.css" /> -->
    <link rel="stylesheet" href="/css/reset.css" />
    
    <link rel="stylesheet" href="/css/withdraw.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />


  </head>


      <body>
    <div id="wrap">

      <div class="search_page">
        <input placeholder="매장 또는 메뉴정보를 검색할 수 있습니다" />
        <button class="search01">검색하기</button>
        <button class="close">&times;</button>
      </div>

      <header>
        <div class="boxalign">
          <ul class="head_left_icon">
            <li>
              <a href="javascript:;">
                <img src="/image/icon_instgram.png" alt="아이콘_인스타그램" />
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <img src="/image/icon_facebook.png" alt="아이콘_페이스북" />
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <img src="/image/icon_blog.png" alt="아이콘_블로그" />
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <img src="/image/icon_youtube.png" alt="아이콘_유튜브" />
              </a>
            </li>

            <li>
              <a href="javascript:;">
                <img src="/image/icon_twitter.png" alt="아이콘_트위터" />
              </a>
            </li>
          </ul>

          <h1 class="logo">
            <a href="javascipt:;"
              ><img src="/image/logo.png " alt="상단로고"
            /></a>
          </h1>

          <ul class="head_right_icon">
            <li>
              <a href="javascript:;"><strong>6조</strong>님</a>
            </li>
            <li class="basket_icon">
              <a href="javascript:;"
                ><img src="/image/basket_icon.png" alt="장바구니_아이콘"
              /></a>
            </li>
            <li class="search_icon">
              <a href="javascript:;"
                ><img src="/image/search.png" alt="찾기_아이콘"
              /></a>
            </li>
          </ul>
        </div>
      </header>

      <nav>
        <div class="boxalign" id="FIRST">
          <ul class="main_nav">
            <li>
              <a href="#">BEST MONTH</a>
              <div class="sub_nav">
                <ul>
                  <li>
                    <a class="sub_nav_img" href="#"></a>
                  </li>
                  <li>
                    <a href="#">아이스크림</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">케이크</a></li>
                        <li><a href="#">음료</a></li>
                        <li><a href="#">커피</a></li>
                        <li><a href="#">디저트</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#">진행이벤트</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">당첨자발표</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#">매장찾기</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">단체주문</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#">공지사항</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">보도자료</a></li>
                        <li><a href="#">채용정보</a></li>
                        <li><a href="#">점포개설문의</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#">MENU</a>
              <div class="sub_nav">
                <ul>
                  <li>
                    <a class="sub_nav_img" href="#"></a>
                  </li>
                  <li>
                    <a href="#">아이스크림</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">케이크</a></li>
                        <li><a href="#">음료</a></li>
                        <li><a href="#">커피</a></li>
                        <li><a href="#">디저트</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#">진행이벤트</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">당첨자발표</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#">매장찾기</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">단체주문</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#">공지사항</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">보도자료</a></li>
                        <li><a href="#">채용정보</a></li>
                        <li><a href="#">점포개설문의</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#">EVENT</a>
              <div class="sub_nav">
                <ul>
                  <li>
                    <a class="sub_nav_img" href="#"></a>
                  </li>
                  <li>
                    <a href="#">아이스크림</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">케이크</a></li>
                        <li><a href="#">음료</a></li>
                        <li><a href="#">커피</a></li>
                        <li><a href="#">디저트</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#">진행이벤트</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">당첨자발표</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#">매장찾기</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">단체주문</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#">공지사항</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">보도자료</a></li>
                        <li><a href="#">채용정보</a></li>
                        <li><a href="#">점포개설문의</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#">STORE</a>
              <div class="sub_nav">
                <ul>
                  <li>
                    <a class="sub_nav_img" href="#"></a>
                  </li>
                  <li>
                    <a href="#">아이스크림</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">케이크</a></li>
                        <li><a href="#">음료</a></li>
                        <li><a href="#">커피</a></li>
                        <li><a href="#">디저트</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#">진행이벤트</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">당첨자발표</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#">매장찾기</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">단체주문</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#">공지사항</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">보도자료</a></li>
                        <li><a href="#">채용정보</a></li>
                        <li><a href="#">점포개설문의</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#">ABOUT</a>
              <div class="sub_nav">
                <ul>
                  <li>
                    <a class="sub_nav_img" href="#"></a>
                  </li>
                  <li>
                    <a href="#">아이스크림</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">케이크</a></li>
                        <li><a href="#">음료</a></li>
                        <li><a href="#">커피</a></li>
                        <li><a href="#">디저트</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#">진행이벤트</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">당첨자발표</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#">매장찾기</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">고객센터</a></li>
                        <li><a href="#">단체주문</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <a href="#">공지사항</a>
                    <div class="sub_nav_sub">
                      <ul>
                        <li><a href="#">보도자료</a></li>
                        <li><a href="#">채용정보</a></li>
                        <li><a href="#">점포개설문의</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!-- 여기까지 복사 -->
        <div class= withdraw-sec><h3>회원탈퇴</h3> </div>

     <section class="select-withdraw-reason">
      <div class="boxalign">
        <div class="sec1-div1">
          <h1>무엇이 불편하셨나요?</h1><br>
          <div class="sub">
           <h3> 불편하셨던 점을 알려주시면 <br>
            더 나은 서비스를 위해 노력하겠습니다.</h3>
          </div>
        </div>
        <p id="sessionValue">세션 값이 여기에 나타납니다.</p>
        <form action="" method="get" class="withdraw-form">
          <ul>
            <li><label><input type="checkbox" name="" value="" id="1"> 원하는 상품이 없음</label></li>
            <li><label> <input type="checkbox" name="" value="" id="2"> 상품의 구체적인 정보가 부족함 </label></li>
            <li><label>
            <input type="checkbox" name="" value="" id="3"> 원하는 상품을 찾기 불편함 </label></li>
            <li><label> <input type="checkbox" name="" value="" id="4"> 상품의 질이 안 좋음 </label></li>
            <li><label><input type="checkbox" name="" value="" id="5"> 주문/배송이 느림 </label></li>
            <li><label><input type="checkbox" name="" value="" id="6"> 오류나 장애가 자주 발생함 </label></li>
            <li class="withdraw-reason"><label for="withdraw-reason"> <input type="checkbox" name="" value="" id="withdraw-reason"> 기타 (직접 입력)</label>
              <div class="textarea-wrapper">
                <textarea name="" id="withdraw-reason-textarea" cols="100" rows="10"></textarea>
              </div>
            </li>
           
          </ul>
        </form>
      </div>
     </section>
     <section class="withdraw-notice">
      <div class="boxalign">
        <div class="notice-div1">
          <h1>마지막으로<br>
          꼭! 확인해주세요</h1>
        </div>
        <ul class = "notice-div2">
          <li>
            보유하고 있던 <span>포인트, 할인 쿠폰, 배송정보 구매 이력</span> 등은 모두 소멸되고 복구가 불가능합니다.
            단 [ 개인정보보호법, 전자상거래법 ]등 기타 법령에서 요구하는 정보는 해당 법령에서 요구하는 기간동안 보존합니다.
          </li>
          <li>
            회원 탈퇴 후 <span>30일간</span> 재가입이 불가능합니다.
          </li>
          <li>
            탈퇴 후 3ice에 입력하신 상품 문의 및 후기, 댓글은 삭제되지 않으며, 회원정보 삭제로 인해 작성자 본인을
            확인할 수 없어 편집 및 삭제 처리가 원천적으로 불가능합니다. 문의, 후기, 댓글 삭제를 원하시는 경우에는 먼저
            해당 게시물을 삭제하신 후 탈퇴를 신청해 주시길 바랍니다. 
          </li>
        </ul>
        <div class= "notice-div3">
          <label><input type="checkbox" name="" value=""> <span> (필수) </span> 위 내용을 확인했습니다.</label>   
        </div> 
      </div>
     </section>

      <section class="withdraw-check">
        <form action="/th/3ice/withdraw" method="post" class="boxalign" name=withdrawform>
            <input type="text" name="username" id="username" value="" />
            <input class="withdraw-button" id="withdrawbtn" type="submit" value="서비스 탈퇴하기">
        </form>
       </section>
              <!-- footer 전체 다 복사 하면 됩니다 -->
              <footer>
                <div class="boxalign">
                  <div class="sns">
                    <a href="javascript:;"
                      ><img src="/image/icon_blog.png" alt="페이스북"
                    /></a>
                    <a href="javascript:;"
                      ><img src="/image/icon_instgram.png" alt="인스타그램"
                    /></a>
                    <a href="javascript:;"
                      ><img src="/image/icon_twitter.png" alt="인스타그램"
                    /></a>
                    <a href="javascript:;"
                      ><img src="/image/icon_youtube.png" alt="인스타그램"
                    /></a>
                    <a href="javascript:;"
                      ><img src="/image/icon_facebook.png" alt="인스타그램"
                    /></a>
                  </div>

                  <div class="footer_logo">
                    <a href="javascript:;">
                      <img src="/image/logo.png" alt="하단로고" />
                    </a>
                    <div>1661 - 5270</div>
                  </div>

                  <div class="footer_nav">
                    <ul>
                      <li><a href="javascript:;">이용약관</a></li>
                      <li><a href="javascript:;">개인정보처리방침</a></li>
                      <li><a href="javascript:;">위치기반서비스</a></li>
                      <li><a href="javascript:;">고객센터</a></li>
                      <li><a href="javascript:;">인재채용</a></li>
                      <li><a href="javascript:;">단체주문</a></li>
                    </ul>
                  </div>

                  <div class="copyright">
                    <div>
                      주식회사 3ice는 통신판매중개자이며 통신판매의 당사자가 아닙니다.
                      따라서 상품/ 거래정보 및 거래와 관련하여 베스킨라빈스에 등록된
                      판매자의 고의 또는 과실로 소비자에게 발생하는 손해에 대해 3ice는
                      책임을 지지 않습니다. 상품 및 거래에 관하여 보다 정확한 정보는
                      해당 판매자에게 직접 확인하여 주시기 바랍니다.
                      <p>Copyright 3ice. All Rights Reserved.</p>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
            <script
              src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
              integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"
            ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="/js/withdraw.js"></script>
  </body>
</html>
