
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@font-face {
    font-family: 'Handon3gyeopsal600g';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/Handon3gyeopsal600g.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 여기서 부터 Main 전까지 복사 */
.scroll_btn {
    z-index: 999;
    position: fixed;
    bottom: 50px;
    right: 80px;
  }
  .scroll_btn > .scroll_img {
  }
  .scroll_btn > .scroll_img > img {
    display: block;
    width: 250px;
  }
  .scroll_text > a {
    position: absolute;
  }
  .scroll_text > .bt1 {
    top: 55px;
    left: 62px;
    font-family: "yg-jalnan";
    font-size: 20px;
    color: #402727;
  }
  .scroll_text > .bt2 {
    font-family: "yg-jalnan";
    font-size: 20px;
    color: #402727;
    top: 70px;
    right: 23px;
  }
  .scroll_text > .bt3 {
    font-family: "yg-jalnan";
    font-size: 20px;
    color: #402727;
    top: 140px;
    left: 20px;
  }
  
  .scroll_text > .bt4 {
    font-family: "yg-jalnan";
    font-size: 20px;
    color: #402727;
    top: 145px;
    right: 60px;
  }
  
  header {
    height: 100px;
    border-bottom: 1px solid #5555552b;
    padding-top: 30px;
  }
  header > .boxalign {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul.head_left_icon {
    display: flex;
  }
  
  ul.head_left_icon > li + li {
    margin-left: 20px;
  }
  
  ul.head_left_icon > li > a {
    display: block;
    width: 40px;
  }
  h1.logo {
  }
  h1.logo > a {
  }
  h1.logo > a > img {
    display: block;
    width: 80px;
  }
  ul.head_right_icon {
    display: flex;
  }
  
  ul.head_right_icon > li + li {
    margin-left: 20px;
  }
  ul.head_right_icon > li:nth-child(1) {
    padding-top: 5px;
    font-family: "yg-jalnan";
  }
  ul.head_right_icon > li:nth-child(1) > a > strong {
    font-size: 25px;
    font-family: "yg-jalnan";
  }
  ul.head_right_icon > li:nth-child(1) {
    font-size: 18px;
    font-family: "Noto Sans KR", sans-serif;
    color: rgb(64, 64, 64);
  }
  ul.head_right_icon > li > a {
  }
  
  .basket_icon > a {
    display: block;
    width: 40px;
  }
  .search_icon > a {
    display: block;
    width: 40px;
  }
  
  nav {
    line-height: 80px;
    height: 80px;
    background: #ffffff;
    color: rgb(46, 46, 46);
    font-size: 18px;
    position: relative;
  }
  nav ul.main_nav {
    font-family: "yg-jalnan";
    display: flex;
    justify-content: space-between;
  }
  
  nav ul.main_nav > li > a {
    display: block;
    text-align: center;
    width: 200px;
  }
  nav ul.main_nav > li:nth-child(1) {
    color: #eb6ea5;
    /* position: relative; */
    /* padding-right: 30px; */
  }
  .sub_nav {
    position: absolute;
    color: black;
    line-height: 40px;
    left: 0;
    border-bottom: 1px solid #ff4b4b15;
    width: 100%;
    display: none;
    z-index: 2;
    background: #fff;
    box-shadow: 0px 10px 20px #d5d5d55f;
  }
  .sub_nav > ul {
    width: 1200px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    height: 250px;
    text-align: center;
  }
  
  .sub_nav > ul > li > a.sub_nav_img {
    display: block;
    background: url(../image/1746498851.png) no-repeat center;
    background-size: contain;
    width: 200px;
    margin: 0 auto;
    height: 253px;
    transition: 1s;
  }
  
  .main_nav > li.active .sub_nav {
    /* width: 1140px; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* position: absolute; */
  }
  .sub_nav > ul > li + li > a {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    display: flex;
    width: 200px;
    justify-content: center;
  }
  
  .sub_nav_sub > ul > li > a {
    font-family: "Noto Sans KR", sans-serif;
    text-align: center;
  }
  .sub_nav > ul > li > a:hover {
    color: #eb6ea5;
  }
  .sub_nav_sub > ul > li > a:hover {
    color: #eb6ea5;
  }
  /* 여기까지 복사 해서 붙여넣으면 됩니다 */
  
/* footer ----------------------------------------*/
footer {
    height: 350px;
    background: #f1f1f1;
    padding-top: 60px;
  }
  .sns > a > img {
    width: 30px;
  }
  .sns > a + a {
    margin-left: 10px;
    padding-top: 60px;
  }
  
  .footer_logo {
    display: flex;
    font-size: 30px;
  
    font-weight: 500;
    color: #595959;
  }
  .footer_logo > div {
    font-family: "yg-jalnan";
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .footer_logo > a > img {
    width: 50px;
    margin-top: 25px;
    margin-right: 10px;
  }
  .footer_nav > ul {
    display: flex;
    gap: 30px;
    font-size: 18px;
    color: #919191;
    font-weight: 500;
  }
  .footer_nav > ul > li:hover {
    color: #363636;
  }
  .copyright {
    color: #919191;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .copyright > div > p {
    margin-top: 15px;
  }
  /* ---- */
  
/* search_page */
.search_page {
    display: none;
  }
  .search_page.active {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background: #0000008a;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: "yg-jalnan";
  }
  
  .search_page > input {
    text-align: center;
    display: block;
    width: 600px;
    height: 80px;
    border-radius: 80px;
    border: none;
    font-family: "yg-jalnan";
  }
  .search01 {
    font-family: "yg-jalnan";
    width: 200px;
    height: 80px;
    border-radius: 80px;
    background-color: #eb6ea5;
    color: white;
    font-size: 20px;
  }
  .close {
    position: absolute;
    font-size: 100px;
    color: white;
    display: block;
    width: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #eb6ea5;
    border-radius: 50%;
    bottom: 100px;
  }
  .close:hover {
    background-color: #eb6ea4c7;
  }
  

/* ---------------------------------------------------------------------- */
h1{
    font-family: "yg-jalnan";
    font-size: 40px;
    font-weight: 600;
}
h3{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color:grey;
}
.withdraw-sec{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    line-height: 100px;
    height: 100px;
    margin-bottom: 70px;
}
.withdraw-sec>h3{
    font-family: "yg-jalnan";
    color: #eb6ea5;
    height: 100px;
    line-height: 100px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.select-withdraw-reason{
    height: fit-content;
}
.select-withdraw-reason>.boxalign{
    font-size: 16px;
}
.select-withdraw-reason>.boxalign>.sec1-div1{

}
.sub{
    margin-bottom: 25px;
    line-height: 40px;
}
.withdraw-form{
    border: 1px solid lightgray;
    padding: 25px;
    border-radius: 20px;
    height: fit-content;
    margin-bottom: 70px;
}
.withdraw-form>ul{
    margin-top: 25px;

}
.withdraw-form>ul>li{
    font-family: "Handon3gyeopsal600g";
    color: rgb(35, 35, 35);
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 30px;
}

label{
    display: block;
    flex-grow: 1;
    padding: 0 20px;
    display: flex;
    align-items: center; 
    
}
input[type="checkbox"]{    
    
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #999;
    appearance: none;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 45px;
}

input[type="checkbox"]:checked {
    background: #eb6ea5;
    border: none;
  }


.withdraw-notice{
    height: fit-content;
}
.withdraw-notice>.boxalign{

}
.withdraw-notice>.boxalign>.notice-div1{
    margin-top: 25px;
}
.withdraw-notice>.boxalign>.notice-div2{
    padding: 30px;
}

.withdraw-notice>.boxalign>.notice-div2>li{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    list-style:disc;
    line-height: 35px;
    padding: 15px;
}
.withdraw-notice>.boxalign>.notice-div2>li>span{
    color:red;
}
.withdraw-notice>.boxalign>.notice-div3>label>span{
    color:red;
}
.withdraw-notice>.boxalign>.notice-div3>label>span::before{
    content: "\00a0";
}
.withdraw-notice>.boxalign>.notice-div3>label>span::after{
    content: "\00a0";
}
.notice-div3{
    font-size: 30px;
    border: 1px solid lightgrey;
    margin-top: 25px;;
    margin-bottom: 70px;
    padding-left: 25px;    
    height: 100px;
    line-height: 100px;
}

.withdraw-check{
    height: fit-content;
    margin-bottom: 100px;
}
.withdraw-check>.boxalign{
    display: flex;
}
.withdraw-check>.boxalign>.withdraw-button{
    border:none;
    width: 100%;
    text-align: center;
}

.withdraw-button{
    background-color: rgb(185, 185, 185);
    height: 100px;
    line-height: 100px;
    font-family: "yg-jalnan";
    font-size: 30px;
    color:white;
}
.withdraw-form>ul>li:last-child{
    height: auto;
    /* position: relative; */
    align-items:end;
}

.textarea-wrapper{
    display: none;
   position: relative;
   min-height: 300px;

}
.textarea-wrapper>textarea{
    border: 1px solid lightgray;
    border-radius: 5px;
    position: absolute;
    top: 45px;
    right: 50px;
    width: 85%;
    resize: none;
    font-size: 20px;
    padding: 10px;
}
/* ------------------- */
.withdraw-button:hover{
  cursor: pointer;
  opacity: 80%;
}

.notice-div3:hover{
  cursor: pointer; 
  opacity: 80%;
}




textarea:focus{
  /* outline: 2px solid rgb(170, 170, 170); */
  outline: none;
  border:none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
 
}